pre {
  background-color: #f6f8fa;
  border-radius: $border-radius-base;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
  line-height: 1.45;
  margin-top: 30px;
  margin-bottom: 0;
  overflow: auto;
  padding: 16px 0 0 16px;
}

kbd {
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: $border-radius-base;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

code,
kbd,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

code {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 14px;
  padding: 2px 5px;
}

.task-list > li {
  list-style-type: none;

  + li {
    margin-top: 3px;
  }

  > input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
  }
}

.pl-e,
.pl-en {
	color: $md-property;
}

.pl-s,
.pl-pds,
.pl-s .pl-pse
.pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
	color: $md-string;
}

.pl-ent {
	color: $md-entity;
}
