$font-color: #24292e;
$background-color: #fefefe;

$nav-light-bg: $background-color;
$nav-light-color: $font-color;

$nav-dark-bg: $font-color;
$nav-dark-color: $background-color;

$link-hover-change: 12%;

$border-radius-base: 3px;

$color-primary: #03A9F4;
$color-success: #69d246;
$color-warning: #FFC107;
$color-danger: #F44336;
