$font-color: #24292e;
$background-color: #fefefe;

$nav-light-bg: $background-color;
$nav-light-color: $font-color;

$nav-dark-bg: $font-color;
$nav-dark-color: $background-color;

$link-hover-change: 5%;

$border-radius-base: 3px;

$color-primary: #0366d6;
$color-success: #28a745;
$color-warning: #ffd000;
$color-danger: #cb2431;

$md-string: #032f62;
$md-entity: #22863a;
$md-property: #6f42c1;
